## Test "Коэффициенты корреляции"

### 4.

Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [23]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('illiteracy.txt', sep='\t')

In [6]:
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [7]:
data_corr_pearson = data[['Illit', 'Births']].corr()

In [8]:
data_corr_pearson

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

### 5.
Чему равен выборочный коэффициент корреляции Спирмена признаков из предыдущего вопроса? Округлите до четырёх знаков после десятичной точки.

In [10]:
data_corr_spearman = data[['Illit', 'Births']].corr(method='spearman')

In [11]:
data_corr_spearman

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

## Test "Корреляционный анализ"

### 1.
Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [12]:
water = pd.read_csv('water.txt', sep='\t')

In [13]:
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [15]:
water_corr_pearson = water[['mortality', 'hardness']].corr()

In [16]:
water_corr_pearson

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

### 2.
В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [17]:
water_corr_spearman = water[['mortality', 'hardness']].corr(method='spearman')

In [18]:
water_corr_spearman

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

### 3.
Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [19]:
water_south = water[water['location'] == 'South']
water_north = water[water['location'] == 'North']

In [21]:
water_south_corr_pearson = water_south[['mortality', 'hardness']].corr()
water_north_corr_pearson = water_north[['mortality', 'hardness']].corr()

In [25]:
water_south_corr_pearson

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [26]:
 water_north_corr_pearson

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

### 4.
Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

  $X_1$ \ $X_2$ | 0| 1 
  ------------- | -------------|------------- |
  0  | 515 | 239 
  1  | 718 | 203 

$X_1 -$  мужчина (0) или женщина (1)
$X_2 -$  реже, чем раз в месяц  (0) или хотя бы раз в месяц (1) в баре бывает

In [45]:
def mathews_corr_table(a, b, c, d):
    print(a, b, c, d)
    numerator = a*d - b*c
    denominator = np.sqrt((a + b)*(a + c)*(b + d)*(c + d))
    return numerator/denominator

In [52]:
mathews_corr = mathews_corr_table(515, 239, 718, 203)

515 239 718 203

In [53]:
mathews_corr

-0.10900237458678963

### 5.
В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля. Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры (например, если вы получили $5.5\times10^{-8}8$
 , нужно ввести 8).

In [31]:
from scipy import stats

In [58]:
stats.chi2_contingency([[515, 239], [718, 203]])

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[555.03402985, 198.96597015],
        [677.96597015, 243.03402985]]))

### 6.
В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [62]:
def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):    
    z = stats.norm.ppf(1 - alpha / 2.)   
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [63]:
X1 = np.array([0 if i < 515 else 1 for i in range(515+239)])
X2 = np.array([0 if i < 718 else 1 for i in range(718+203)])

In [64]:
print("confidence interval: [%f, %f]" % proportions_confint_diff_ind(X1, X2))

confidence interval: [0.053905, 0.139222]

### 7.
Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры (например, если вы получили 5.5\times10^{-8}5.5×10 
−8
 , нужно ввести 8).

In [65]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [67]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - stats.norm.cdf(z_stat)

In [68]:
print("p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(X1, X2)))

p-value: 0.000008

### 8.
Вопрос 8
Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"

_ | Не доволен |	Более или менее |	Доволен
------------- | -------------|------------- |------------- |
Не очень счастлив | 197 | 111 |	33
Достаточно счастлив	| 382 |	685 | 331
Очень счастлив | 110 | 342 | 333

Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

### 9.
На данных из предыдущего вопроса посчитайте значение достигаемого уровня значимости. Введите номер первой значащей цифры (например, если вы получили 5.5\times10^{-8}5.5×10 
−8
 , нужно ввести 8).

In [74]:
cont_table = [[197, 111, 33], 
              [382, 685, 331],
              [110, 342, 333]]

In [75]:
stats.chi2_contingency(cont_table)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

### 10.
Чему в предыдущей задаче равно значение коэффициента V Крамера для рассматриваемых признаков? Округлите ответ до четырёх знаков после десятичной точки.

In [84]:
def cramer_coef(chi2_stat, n, K1, K2):
    denominator = n*(min(K1, K2) - 1)
    return np.sqrt(chi2_stat/denominator)

In [86]:
V = cramer_coef(293.68311039689746, 
                int(np.sum(cont_table)),
                3, 3)

In [87]:
V

0.2412013934500338

## Test "Множественная проверка гипотез"

## 2.
Классификатор C4.5 и три его модификации: с оптимизацией гиперпараметра m, гиперпараметра cf и с одновременной оптимизацией обоих гиперпараметров. Эти четыре классификатора сравнивались на 14 наборах данных. На каждом датасете был посчитан AUC каждого классификатора. Данные записаны в файле:

Используя критерий знаковых рангов, проведите попарное сравнение каждого классификатора с каждым. Выберите два классификатора, различие между которыми наиболее статистически значимо.

In [92]:
aucs = pd.read_csv('AUCs.txt', sep='\t')

In [93]:
aucs.head()

                Unnamed: 0   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0           adult (sample)  0.763   0.768    0.771      0.798
1            breast cancer  0.599   0.591    0.590      0.569
2  breast cancer wisconsin  0.954   0.971    0.968      0.967
3                      cmc  0.628   0.661    0.654      0.657
4               ionosphere  0.882   0.888    0.886      0.898

In [117]:
import itertools

In [132]:
p_values = np.empty((0, 0))
for i, j in itertools.combinations([1, 2, 3, 4], 2):
    p_value = stats.wilcoxon(aucs.iloc[:, i].values, 
                             aucs.iloc[:, j].values)[1]
    p_values = np.append(p_values, p_value)
    print(i, j, p_value)

1 2 0.01075713311978963
1 3 0.861262330095348
1 4 0.015906444101703374
2 3 0.046332729793395394
2 4 0.3278256758446406
3 4 0.022909099354356588

C:\Users\alisa\anaconda3\lib\site-packages\scipy\stats\morestats.py:2958: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

### 5.
Сравнивая 4 классификатора между собой, мы проверили 6 гипотез. Давайте сделаем поправку на множественную проверку. Начнём с метода Холма. Сколько гипотез можно отвергнуть на уровне значимости 0.05 после поправки этим методом?

In [133]:
from statsmodels.sandbox.stats.multicomp import multipletests

In [1]:
reject, p_corrected, a1, a2 = multipletests(p_values, 
                                            alpha = 0.05, 
                                            method = 'holm')

NameError: name 'multipletests' is not defined

In [135]:
reject

array([False, False, False, False, False, False])

### 6.
Сколько гипотез можно отвергнуть на уровне значимости 0.05 после поправки методом Бенджамини-Хохберга?

In [136]:
reject, p_corrected, a1, a2 = multipletests(p_values, 
                                            alpha = 0.05, 
                                            method = 'fdr_bh')

In [137]:
reject

array([ True, False,  True, False, False,  True])

## Test "Практика построения регрессии"

### 1.
Давайте проанализируем данные опроса 4361 женщин из Ботсваны:

botswana.tsv

О каждой из них мы знаем:

сколько детей она родила (признак ceb)
возраст (age)
длительность получения образования (educ)
религиозная принадлежность (religion)
идеальное, по её мнению, количество детей в семье (idlnchld)
была ли она когда-нибудь замужем (evermarr)
возраст первого замужества (agefm)
длительность получения образования мужем (heduc)
знает ли она о методах контрацепции (knowmeth)
использует ли она методы контрацепции (usemeth)
живёт ли она в городе (urban)
есть ли у неё электричество, радио, телевизор и велосипед (electric, radio, tv, bicycle)
Давайте научимся оценивать количество детей ceb по остальным признакам.

Загрузите данные и внимательно изучите их. Сколько разных значений принимает признак religion?

In [213]:
data = pd.read_csv('botswana.tsv', sep='\t')

In [214]:
data.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0

In [215]:
data['religion'].unique()

array(['catholic', 'protestant', 'spirit', 'other'], dtype=object)

### 2.
Во многих признаках есть пропущенные значения. Сколько объектов из 4361 останется, если выбросить все, содержащие пропуски?

In [216]:
len(data.dropna().index)

1834

### 3.
В разных признаках пропуски возникают по разным причинам и должны обрабатываться по-разному.

Например, в признаке agefm пропуски стоят только там, где evermarr=0, то есть, они соответствуют женщинам, никогда не выходившим замуж. Таким образом, для этого признака NaN соответствует значению "не применимо".

В подобных случаях, когда признак x_1x 
1
​	
  на части объектов в принципе не может принимать никакие значения, рекомендуется поступать так:

создать новый бинарный признак
x_2 =
{1,0,x1='не применимо',иначе;
x 
2
​	
 ={ 
1,
0,
​	
  
x 
1
​	
 =’не применимо’,
иначе;
​	
 
заменить "не применимо" в x_1x 
1
​	
  на произвольную константу cc, которая среди других значений x_1x 
1
​	
  не встречается.
Теперь, когда мы построим регрессию на оба признака и получим модель вида
y=\beta_0 + \beta_1 x_1 + \beta_2 x_2,
y=β 
0
​	
 +β 
1
​	
 x 
1
​	
 +β 
2
​	
 x 
2
​	
 ,
на тех объектах, где x_1x 
1
​	
  было измерено, регрессионное уравнение примет вид
y=\beta_0 + \beta_1 x,
y=β 
0
​	
 +β 
1
​	
 x,
а там, где x_1x 
1
​	
  было "не применимо", получится
y=\beta_0 + \beta_1 c + \beta_2.
y=β 
0
​	
 +β 
1
​	
 c+β 
2
​	
 .
Выбор cc влияет только на значение и интерпретацию \beta_2β 
2
​	
 , но не \beta_1β 
1
​	
 .

Давайте используем этот метод для обработки пропусков в agefm и heduc.

Создайте признак nevermarr, равный единице там, где в agefm пропуски.
Удалите признак evermarr — в сумме с nevermarr он даёт константу, значит, в нашей матрице XX будет мультиколлинеарность.
Замените NaN в признаке agefm на c_{agefm}=0c 
agefm
​	
 =0.
У объектов, где nevermarr = 1, замените NaN в признаке heduc на c_{heduc_1}=-1c 
heduc 
1
​	
 
​	
 =−1 (ноль использовать нельзя, так как он уже встречается у некоторых объектов выборки).
Сколько осталось пропущенных значений в признаке heduc?

In [217]:
data['nevermarr'] = [1 if pd.isna(agefm) else 0 for agefm in data['agefm']]

In [219]:
data = data.drop(columns='evermarr')

In [221]:
data['agefm'] = data['agefm'].apply(lambda x: 0 if pd.isna(x) else x)

In [224]:
data['heduc'] = [-1 if pd.isna(data.loc[i, 'heduc']) and data.loc[i, 'nevermarr'] == 1 else data.loc[i, 'heduc'] for i in range(len(data.index))]

In [225]:
data.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,18,10,catholic,4.0,1.0,1.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0

In [232]:
len(data['heduc']) - len(data['heduc'].dropna())

123

### 4.
Избавимся от оставшихся пропусков.

Для признаков idlnchld, heduc и usemeth проведите операцию, аналогичную предыдущей: создайте индикаторы пропусков по этим признакам (idlnchld_noans, heduc_noans, usemeth_noans), замените пропуски на нехарактерные значения (c_{idlnchld}=-1c 
idlnchld
​	
 =−1, c_{heduc_2}=-2c 
heduc 
2
​	
 
​	
 =−2 (значение -1 мы уже использовали), c_{usemeth}=-1c 
usemeth
​	
 =−1).

Остались только пропуски в признаках knowmeth, electric, radio, tv и bicycle. Их очень мало, так что удалите объекты, на которых их значения пропущены.

Какого размера теперь наша матрица данных? Умножьте количество строк на количество всех столбцов (включая отклик ceb).

In [233]:
def fill_na(df, columns_with_nan, indicator_column, c):
    df[indicator_column] = [1 if pd.isna(x) else 0 for x in df[columns_with_nan]]
    df[columns_with_nan] = df[columns_with_nan].apply(lambda x: c if pd.isna(x) else x)
    return df

In [236]:
data = fill_na(data, 'idlnchld', 'idlnchld_noans', -1)
data = fill_na(data, 'heduc', 'heduc_noans', -2)
data = fill_na(data, 'usemeth', 'usemeth_noans', -1)

In [237]:
data.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr,idlnchld_noans,heduc_noans,usemeth_noans
0,0,18,10,catholic,4.0,1.0,1.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1,0,0,0
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0,0,0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0,0,0,0
3,0,24,12,other,2.0,1.0,0.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1,0,0,0
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0,0,0,0

In [238]:
data = data.dropna()

In [239]:
len(data.index)*len(data.columns)

78264

### 5.
Постройте регрессию количества детей ceb на все имеющиеся признаки методом smf.ols, как в разобранном до этого примере. Какой получился коэффициент детерминации R^2R 
2
 ? Округлите до трёх знаков после десятичной точки.

In [240]:
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms

In [243]:
m1 = smf.ols('ceb ~ age + educ + religion + idlnchld + knowmeth + usemeth +'\
                    'agefm + heduc + urban + electric + radio + tv +'\
                    'bicycle + nevermarr + idlnchld_noans + heduc_noans +'\
                    'usemeth_noans', 
             data=data)
fitted = m1.fit()
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.643
Model:                            OLS   Adj. R-squared:                  0.641
Method:                 Least Squares   F-statistic:                     432.6
Date:                Thu, 15 Oct 2020   Prob (F-statistic):               0.00
Time:                        20:53:20   Log-Likelihood:                -7741.4
No. Observations:                4348   AIC:                         1.552e+04
Df Residuals:                    4329   BIC:                         1.564e+04
Df Model:                          18
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -0.8964      0.211     -4.257      0.000      -1.309      -0.484
religion[T.other]         -0.0723      0.083     -0.871      0.384      -0.235       0.090
religion[T.protestant]    -0.0130      0.082     -0.157      0.875      -0.175       0.149
religion[T.spirit]        -0.0077      0.077     -0.099      0.921      -0.160       0.144
age                        0.1722      0.003     52.833      0.000       0.166       0.179
educ                      -0.0750      0.007    -10.221      0.000      -0.089      -0.061
idlnchld                   0.0546      0.010      5.574      0.000       0.035       0.074
knowmeth                   0.5304      0.122      4.362      0.000       0.292       0.769
usemeth                    0.6348      0.048     13.162      0.000       0.540       0.729
agefm                     -0.0609      0.007     -9.270      0.000      -0.074      -0.048
heduc                     -0.0566      0.008     -7.016      0.000      -0.072      -0.041
urban                     -0.2122      0.047     -4.487      0.000      -0.305      -0.119
electric                  -0.2735      0.077     -3.537      0.000      -0.425      -0.122
radio                     -0.0253      0.051     -0.495      0.621      -0.125       0.075
tv                        -0.1542      0.093     -1.660      0.097      -0.336       0.028
bicycle                    0.2138      0.050      4.250      0.000       0.115       0.312
nevermarr                 -2.2748      0.148    -15.377      0.000      -2.565      -1.985
idlnchld_noans         -6.811e-17   8.86e-18     -7.684      0.000   -8.55e-17   -5.07e-17
heduc_noans               -0.8848      0.145     -6.100      0.000      -1.169      -0.600
usemeth_noans              0.7558      0.196      3.855      0.000       0.371       1.140
==============================================================================
Omnibus:                      228.078   Durbin-Watson:                   1.884
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              882.595
Skew:                           0.024   Prob(JB):                    2.22e-192
Kurtosis:                       5.207   Cond. No.                     1.74e+19
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.46e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### 7.
Проверьте критерием Бройша-Пагана гомоскедастичность ошибки в построенной модели. Выполняется ли она?

In [244]:
print('Breusch-Pagan test: p=%f' % sms.het_breuschpagan(fitted.resid, fitted.model.exog)[1])

Breusch-Pagan test: p=0.000000

In [245]:
m1 = smf.ols('ceb ~ age + educ + religion + idlnchld + knowmeth + usemeth +'\
                    'agefm + heduc + urban + electric + radio + tv +'\
                    'bicycle + nevermarr + idlnchld_noans + heduc_noans +'\
                    'usemeth_noans', 
             data=data)
fitted = m1.fit(cov_type='HC1')
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.643
Model:                            OLS   Adj. R-squared:                  0.641
Method:                 Least Squares   F-statistic:                     360.0
Date:                Thu, 15 Oct 2020   Prob (F-statistic):               0.00
Time:                        21:04:54   Log-Likelihood:                -7741.4
No. Observations:                4348   AIC:                         1.552e+04
Df Residuals:                    4329   BIC:                         1.564e+04
Df Model:                          18
Covariance Type:                  HC1
==========================================================================================
                             coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -0.8964      0.259     -3.456      0.001      -1.405      -0.388
religion[T.other]         -0.0723      0.078     -0.928      0.354      -0.225       0.080
religion[T.protestant]    -0.0130      0.078     -0.166      0.868      -0.166       0.140
religion[T.spirit]        -0.0077      0.072     -0.107      0.915      -0.148       0.133
age                        0.1722      0.004     38.929      0.000       0.163       0.181
educ                      -0.0750      0.007    -10.261      0.000      -0.089      -0.061
idlnchld                   0.0546      0.013      4.052      0.000       0.028       0.081
knowmeth                   0.5304      0.173      3.072      0.002       0.192       0.869
usemeth                    0.6348      0.052     12.239      0.000       0.533       0.736
agefm                     -0.0609      0.010     -6.210      0.000      -0.080      -0.042
heduc                     -0.0566      0.009     -6.282      0.000      -0.074      -0.039
urban                     -0.2122      0.046     -4.629      0.000      -0.302      -0.122
electric                  -0.2735      0.073     -3.763      0.000      -0.416      -0.131
radio                     -0.0253      0.053     -0.478      0.632      -0.129       0.078
tv                        -0.1542      0.083     -1.865      0.062      -0.316       0.008
bicycle                    0.2138      0.049      4.389      0.000       0.118       0.309
nevermarr                 -2.2748      0.202    -11.242      0.000      -2.671      -1.878
idlnchld_noans         -6.811e-17   1.03e-17     -6.584      0.000   -8.84e-17   -4.78e-17
heduc_noans               -0.8848      0.192     -4.607      0.000      -1.261      -0.508
usemeth_noans              0.7558      0.210      3.607      0.000       0.345       1.166
==============================================================================
Omnibus:                      228.078   Durbin-Watson:                   1.884
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              882.595
Skew:                           0.024   Prob(JB):                    2.22e-192
Kurtosis:                       5.207   Cond. No.                     1.74e+19
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is 1.46e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\alisa\anaconda3\lib\site-packages\statsmodels\base\model.py:1830: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 19, but rank is 18
  warnings.warn('covariance of constraints does not have full '

### 8.
Удалите из модели незначимые признаки religion, radio и tv. Проверьте гомоскедастичность ошибки, при необходимости сделайте поправку Уайта.

Не произошло ли значимого ухудшения модели после удаления этой группы признаков? Проверьте с помощью критерия Фишера. Чему равен его достигаемый уровень значимости? Округлите до четырёх цифр после десятичной точки.

Если достигаемый уровень значимости получился маленький, верните все удалённые признаки; если он достаточно велик, оставьте модель без религии, тв и радио.

In [246]:
m2 = smf.ols('ceb ~ age + educ + idlnchld + knowmeth + usemeth +'\
                    'agefm + heduc + urban + electric +'\
                    'bicycle + nevermarr + idlnchld_noans + heduc_noans +'\
                    'usemeth_noans', 
             data=data)
fitted = m2.fit()
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.642
Model:                            OLS   Adj. R-squared:                  0.641
Method:                 Least Squares   F-statistic:                     598.7
Date:                Thu, 15 Oct 2020   Prob (F-statistic):               0.00
Time:                        21:07:57   Log-Likelihood:                -7743.8
No. Observations:                4348   AIC:                         1.552e+04
Df Residuals:                    4334   BIC:                         1.560e+04
Df Model:                          13
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -0.9279      0.196     -4.734      0.000      -1.312      -0.544
age                0.1720      0.003     53.155      0.000       0.166       0.178
educ              -0.0760      0.007    -10.752      0.000      -0.090      -0.062
idlnchld           0.0557      0.010      5.698      0.000       0.037       0.075
knowmeth           0.5356      0.121      4.414      0.000       0.298       0.773
usemeth            0.6389      0.048     13.271      0.000       0.545       0.733
agefm             -0.0611      0.007     -9.299      0.000      -0.074      -0.048
heduc             -0.0589      0.008     -7.380      0.000      -0.075      -0.043
urban             -0.2184      0.047     -4.659      0.000      -0.310      -0.126
electric          -0.3292      0.070     -4.698      0.000      -0.467      -0.192
bicycle            0.2042      0.049      4.137      0.000       0.107       0.301
nevermarr         -2.2868      0.148    -15.474      0.000      -2.577      -1.997
idlnchld_noans -1.816e-16   6.44e-17     -2.821      0.005   -3.08e-16   -5.54e-17
heduc_noans       -0.8974      0.145     -6.195      0.000      -1.181      -0.613
usemeth_noans      0.7638      0.196      3.899      0.000       0.380       1.148
==============================================================================
Omnibus:                      227.618   Durbin-Watson:                   1.882
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              879.078
Skew:                           0.025   Prob(JB):                    1.29e-191
Kurtosis:                       5.202   Cond. No.                     5.62e+19
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.4e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [247]:
print('Breusch-Pagan test: p=%f' % sms.het_breuschpagan(fitted.resid, fitted.model.exog)[1])

Breusch-Pagan test: p=0.000000

In [248]:
m2 = smf.ols('ceb ~ age + educ + idlnchld + knowmeth + usemeth +'\
                    'agefm + heduc + urban + electric +'\
                    'bicycle + nevermarr + idlnchld_noans + heduc_noans +'\
                    'usemeth_noans', 
             data=data)
fitted = m2.fit(cov_type='HC1')
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.642
Model:                            OLS   Adj. R-squared:                  0.641
Method:                 Least Squares   F-statistic:                     493.2
Date:                Thu, 15 Oct 2020   Prob (F-statistic):               0.00
Time:                        21:10:48   Log-Likelihood:                -7743.8
No. Observations:                4348   AIC:                         1.552e+04
Df Residuals:                    4334   BIC:                         1.560e+04
Df Model:                          13
Covariance Type:                  HC1
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -0.9279      0.250     -3.707      0.000      -1.419      -0.437
age                0.1720      0.004     39.026      0.000       0.163       0.181
educ              -0.0760      0.007    -10.716      0.000      -0.090      -0.062
idlnchld           0.0557      0.013      4.139      0.000       0.029       0.082
knowmeth           0.5356      0.172      3.110      0.002       0.198       0.873
usemeth            0.6389      0.052     12.328      0.000       0.537       0.740
agefm             -0.0611      0.010     -6.230      0.000      -0.080      -0.042
heduc             -0.0589      0.009     -6.609      0.000      -0.076      -0.041
urban             -0.2184      0.046     -4.797      0.000      -0.308      -0.129
electric          -0.3292      0.064     -5.155      0.000      -0.454      -0.204
bicycle            0.2042      0.048      4.250      0.000       0.110       0.298
nevermarr         -2.2868      0.202    -11.324      0.000      -2.683      -1.891
idlnchld_noans -1.816e-16   7.13e-17     -2.546      0.011   -3.21e-16   -4.18e-17
heduc_noans       -0.8974      0.191     -4.687      0.000      -1.273      -0.522
usemeth_noans      0.7638      0.209      3.656      0.000       0.354       1.173
==============================================================================
Omnibus:                      227.618   Durbin-Watson:                   1.882
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              879.078
Skew:                           0.025   Prob(JB):                    1.29e-191
Kurtosis:                       5.202   Cond. No.                     5.62e+19
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is 1.4e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\alisa\anaconda3\lib\site-packages\statsmodels\base\model.py:1830: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 14, but rank is 13
  warnings.warn('covariance of constraints does not have full '

In [249]:
print("F=%f, p=%f, k1=%f" % m1.fit().compare_f_test(m2.fit()))

F=0.955562, p=0.443719, k1=5.000000

### 9.
Признак usemeth_noans значим по критерию Стьюдента, то есть, при его удалении модель значимо ухудшится. Но вообще-то отдельно его удалять нельзя: из-за того, что мы перекодировали пропуски в usemeth произвольно выбранным значением c_{usemeth }=-1c 
usemeth
​	
 =−1, удалять usemeth_noans и usemeth можно только вместе.

Удалите из текущей модели usemeth_noans и usemeth. Проверьте критерием Фишера гипотезу о том, что качество модели не ухудшилось. Введите номер первой значащей цифры в достигаемом уровне значимости (например, если вы получили 5.5\times10^{-8}5.5×10 
−8
 , нужно ввести 8).

Если достигаемый уровень значимости получился маленький, верните удалённые признаки; если он достаточно велик, оставьте модель без usemeth и usemeth_noans.

In [251]:
m3 = smf.ols('ceb ~ age + educ + idlnchld + knowmeth +'\
                    'agefm + heduc + urban + electric +'\
                    'bicycle + nevermarr + idlnchld_noans + heduc_noans', 
             data=data)
fitted = m3.fit(cov_type='HC1')
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.628
Model:                            OLS   Adj. R-squared:                  0.627
Method:                 Least Squares   F-statistic:                     429.5
Date:                Thu, 15 Oct 2020   Prob (F-statistic):               0.00
Time:                        21:13:28   Log-Likelihood:                -7831.5
No. Observations:                4348   AIC:                         1.569e+04
Df Residuals:                    4336   BIC:                         1.576e+04
Df Model:                          11
Covariance Type:                  HC1
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -1.0769      0.253     -4.252      0.000      -1.573      -0.580
age                0.1789      0.004     41.686      0.000       0.171       0.187
educ              -0.0587      0.007     -8.167      0.000      -0.073      -0.045
idlnchld           0.0534      0.014      3.857      0.000       0.026       0.081
knowmeth           0.8486      0.172      4.938      0.000       0.512       1.185
agefm             -0.0653      0.010     -6.516      0.000      -0.085      -0.046
heduc             -0.0535      0.009     -5.807      0.000      -0.072      -0.035
urban             -0.1867      0.046     -4.021      0.000      -0.278      -0.096
electric          -0.3287      0.065     -5.018      0.000      -0.457      -0.200
bicycle            0.1976      0.049      4.063      0.000       0.102       0.293
nevermarr         -2.3905      0.205    -11.635      0.000      -2.793      -1.988
idlnchld_noans          0          0        nan        nan           0           0
heduc_noans       -0.8059      0.195     -4.123      0.000      -1.189      -0.423
==============================================================================
Omnibus:                      247.956   Durbin-Watson:                   1.907
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              946.578
Skew:                          -0.136   Prob(JB):                    2.84e-206
Kurtosis:                       5.270   Cond. No.                     8.43e+20
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is 6.23e-36. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\alisa\anaconda3\lib\site-packages\statsmodels\base\model.py:1830: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 12, but rank is 11
  warnings.warn('covariance of constraints does not have full '
C:\Users\alisa\anaconda3\lib\site-packages\statsmodels\base\model.py:1362: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
C:\Users\alisa\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1932: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [253]:
m2.fit().compare_f_test(m3.fit())

(89.24256877037696, 1.0453371855133106e-38, 2.0)