In [1]:
from sklearn import datasets, model_selection, tree, metrics, ensemble
from scipy.spatial import distance
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.cluster import MeanShift
from itertools import cycle

In [2]:
data = pd.read_table('checkins.dat', sep='|', skipinitialspace = True, header=[0])
data.dropna(axis='rows', inplace=True)

C:\Users\shabalina.aa\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3337: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
data.shape

(396634, 6)

In [4]:
data = data.head(100000)

In [5]:
data.shape

(100000, 6)

In [6]:
data.head()

,id,user_id,venue_id,latitude,longitude,created_at
1,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
3,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
7,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
9,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
10,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18

In [7]:
X = data.iloc[:, 3:5].to_numpy()

In [8]:
ms = MeanShift(bandwidth=0.1)

In [9]:
ms.fit(X)

MeanShift(bandwidth=0.1)

In [17]:
labels = ms.labels_
cluster_centers = ms.cluster_centers_

val, counts = np.unique(labels, return_counts=True)
labels_new = [l for l in val if counts[l] > 15]
new_cluster_centers = cluster_centers[labels_new]

In [26]:
with open('clusters_centers.txt', 'w') as f:
    for i in range(new_cluster_centers.shape[0]):
        f.write(str(new_cluster_centers[i][0]) + ', ' +
                str(new_cluster_centers[i][1]) + '\n')

In [35]:
office_coordinates = dict()
with open('Carnival_Cruise_Line_offices.txt', 'r') as f:
    for j, line in enumerate(f):
        data = line.split(' ')
        office_coordinates[data[2][1:len(data[2])-2]] = (float(data[0][:len(data[0])-1]),
                                                           float(data[1]))

In [60]:
nearest_centers = []
for city, coords in office_coordinates.items():
    cluster_dist = dict()
    for i in range(new_cluster_centers.shape[0]):
        cluster_dist[(new_cluster_centers[i][0], new_cluster_centers[i][1])] = np.sqrt(
            (new_cluster_centers[i][0] - coords[0])**2 +
            (new_cluster_centers[i][1] - coords[1])**2
        )
    cluster_dist = sorted(cluster_dist.items(), key=lambda item: item[1])
    print(type(cluster_dist))
    for i in cluster_dist:
        nearest_centers.append(i)

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [61]:
len(nearest_centers)

3552

In [62]:
result = sorted(nearest_centers, key=lambda item: item[1])[:20]

In [64]:
result

[((-33.86063042857143, 151.20477592857145), 0.007834758163107856),
 ((52.37296399032261, 4.892317222580647), 0.009353316185992226),
 ((25.8456722642857, -80.31889059642857), 0.022674066158385495),
 ((51.502991260887086, -0.12553728870967767), 0.05005829482278787),
 ((33.8098779552631, -118.14892380690813), 0.07084773242719973),
 ((25.7858124199675, -80.2179380368254), 0.13410903336184654),
 ((25.70534972105258, -80.28342873815798), 0.16740596425035326),
 ((26.010098249285683, -80.19999058571432), 0.18887596060185083),
 ((33.8883253427586, -118.04892817172427), 0.19577945647763628),
 ((33.87298601157018, -118.36209114655645), 0.21181053682436798),
 ((33.97257482142858, -118.16837066666663), 0.2222332907317907),
 ((26.138843786842077, -80.33434683684207), 0.2713007595066735),
 ((33.98393587403844, -118.00740497307689), 0.2949788868004569),
 ((26.120862658633104, -80.1589066802157), 0.3022701186924605),
 ((33.81730643390889, -117.891249170958), 0.30473050307840693),
 ((34.06039755458241, -118.24870902659876), 0.3148837903362732),
 ((33.67430265976576, -117.85878926777275), 0.3388104702511318),
 ((26.20058464102565, -80.25071612564099), 0.3408456533220572),
 ((34.03548695312116, -118.43899771946148), 0.37868750125029754),
 ((34.13146014917951, -118.11801180610205), 0.3867062248427277)]

In [ ]:
with open('ans.txt', 'w') as f:
    f.write(str(result[0][0]))